html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    max-width: 1579px;
    margin: 0 auto;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
}
.list-reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-reser{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    max-width: 1097px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header {
    height: 119px;
    color: #fff;
    background-color: #000;
    padding-top: 33px;
}
.logo {
}
img.logo-text{
    margin: 0px 0px 7px 0px;
}
.menu {
   
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 31px;
}
.menu__item {
   
}
.menu__item:not(:last-child) {
   /* margin-right: 50px;*/
}
.menu__link {
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    padding: 10px;
}
.header__btn {
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    padding: 13px 46px;
    border: 1px solid white;
}
.work-speed {
   background-color: #000;
   color:#fff
}
h1.work-speed__title {
    margin: 0;
    padding: 0;
    color:  #FFF;
    text-align: center;
    font-family: Graphik;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px; 
    letter-spacing: 0.2px;
    padding-bottom: 17px;
}
p.work-speed__desc {
    margin: 0;
    padding: 0;
    color:  #FFF;
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.2px;
    padding-bottom: 17px;
}
.work-speed__twobtn {
    margin: 0;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-speed__twobtn--one {
    padding: 10px 30px;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    background:  #4452FE;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);  
    color:#fff;
    margin-right: 35px;
}
.work-speed__twobtn--two {
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    padding: 10px 30px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.screens {    
   /* background-color: #a73838;*/
    background-color: #000;
    height: 941px;
}
.screens__container {
    /*
    margin: 0 auto;
  width: 1500px;
    background-color: aquamarine;
    height: 900px;*/
}
.screens__img {
    margin: 0 auto;
    width: 1490px;
 /*   background-color: burlywood;*/
    height: 700px;
}    
.screens__img--one {
    margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.screens__img--duble{
    margin-top: -250px;
    margin-left: 35px;
    position: relative;
}
.screens__img--two{

/*  z-index: 0;*/
}
/*
.screens__img--two::after {
    content: "";
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%); 
    opacity:0.6;
    position: absolute; 
    display: block;
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 100%;  
    top: 0;
    left: 0;
    z-index: 1;
}
.img-two__bg{
    
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    
}*/
.screens__img--three {
    margin: -30px -0px -0px -10px; 
    
 /*   z-index: 3; */  
}
/*
.screens__img--three::after {
    content: "";
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    opacity:0.6 ;
    position: absolute; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;  
    top: 0;
    left: 0;
    z-index: 4;
}*/
.img-three {
    margin-top: -720px;
    margin-left: 720px;
  
}
.img-three__bg{
    
    /*
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
*/
}
.space{  
    margin: 0 auto;
    padding: 0; 
    width: 100%;   
    height: 100px;
    background:  #181818;
}

.opportunity {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 1052px;
   
}
.opportunity__container{
    max-width: 1579px;
    margin: 0 auto;
    padding: 62px 50px;
}
h2.opportunity__title {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; 
    letter-spacing: 0.2px;
    margin-bottom: 27px;
}
p.opportunity__decs {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.2px;
    margin-bottom: 80px;
}
.frame {
    max-width: 1088px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4452FE;
}
.frame__container{
    width: 1088px;
    height: 759px;
    margin: 0 auto;
    background-color: blue;
}
.frame__left {
    position: relative;
}
.frame__left--one {
    max-width: 696px;
}
.frame__left--two {
    max-width: 400px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -50px;
    right:  0px;
    
}
.frame__right {
    max-width: 309px;
    padding: 20px 80px 0px 0px;
    display: flex;
    flex-direction: column;
    color: #FFF;
}
.frame__right--one {
    padding-bottom: 25px;
}
.frame__right--link {
    display: flex;
    align-items: center;
    gap: 10px;
}
span.frame__right--img {
}
span.frame__right--subtext {
    margin-bottom: 18px;
}
.frame__right--two {
    padding-bottom: 25px;
}
.frame__right--three {
}

.extensions {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 50px;
}
.extensions__container {
    max-width: 985px;
    margin: 0 auto;
}
.extensions__title {
    margin: 0;
    padding: 10px;
    font-family: Graphik;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
}
.extensions__desc {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
    margin-bottom: 44px;
}
.extensions__two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 33px;
}
.extensions__left {   
    width:443px;
    height: 580px;
    border-radius: 10px;
    /*padding: 75px 60px 100px 60px;*/
    border: 1px solid #D3D3D3;
    background:  #FFF;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    /*--btn--*/
    position: relative;
	display: flex;
	flex-direction: column;
}
.extensions__left--title {
    margin: 0;
    padding: 10px;
    margin-top: 30px;
    color: var(--first-text, #000);
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
}
.extensions__left--desc {
    margin: 0;
    padding: 10px;
    color: var(--second-text, #5C5C5C);
    text-align: center;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}
.extensions__left--btn {
    color:  #FFF;
    align-self: center;
    text-align: center;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    padding: 7px 30px;
    margin-top: 30px;
    background: var(--primary, #4452FE);
    text-align: center;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.btn {
    /*
    display: block;
    margin: 0 auto;
    */
    
}
.extensions__left--screen {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 312.325px;
    height: 195.184px;
    flex-shrink: 0;
}
img.left-screen{
    margin-bottom: -165px;
    
}
.extensions__right {
    padding: 20px 0px 0px 0px;
    max-width: 476px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background:  #FFF;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    color: #000;
    /* -btn-*/
    position: relative;
	display: flex;
	flex-direction: column;
}
.extensions__right--title {
    margin: 0;
    padding: 10px;
    color: var(--first-text, #000);
    text-align: center;
    /* Title */
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
}
.extensions__right--desc {
    margin: 0;
    padding: 10px;
    color: var(--second-text, #5C5C5C);
    text-align: center;
    /* Paragraphe */
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}
.extensions__right--btn {
    align-self: center;
    text-align: center;
    color:  #FFF;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.2px;
    padding: 7px 30px;
    background: var(--primary, #4452FE);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.extensions__right--screen {
    margin: 0;
    padding: 0;
}
.galary{
    height: 1016px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.galary__container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1087px;
    background-color: rgb(67, 61, 54);
    height: 916px;
    
}
h2.galary__title{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
}
p.galary__desc{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}
.article-grid--up {
    padding: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
}
.article-down{
    width: 1087px;
    margin: 0;
    padding: 0;
}
ul.article-grid--down{   
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 33px;
}
.article-grid--down__itemOne {
    grid-column: span 5;
}
.article-grid--down__itemTwo {
    grid-column: span 3;
}
.article-grid--down__itemThree {
 
    grid-column-start: 9;
    grid-column-end: 13;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pic1 {
}
.pic2 {
}
.galary__btn{
    margin-top: 48px;
    align-self: center;
	background-color: #000;
	border:1px solid #fff;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	padding: 12px 25px; 
}
.partners {
    margin: 0px;
    background-color: #801b1b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 484px;
}
.partners__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1539px;
    height: 384px;
    padding: 0px 20px;
    background-color: #5C5C5C;
}
.partners__title {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
}
.partners__desc {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}
.partners__symbols {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 74px;
}
a.symbols-link {
    margin-right: 0px;
}
img.symbols-img {
   
}
.partners__btn {
    margin-top: 48px;
    align-self: center;
	background-color: #000;
	border:1px solid #fff;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	padding: 12px 25px; 
}
.reviews {
    margin: 0;
    padding: 50px 20px 150px 20px;
    border: 1px solid white;
    background-color: #000;
    color:#fff;
    }
.reviews__container {
    border: 1px solid white;
    background-color: #000;
    color:#fff;
}
h2.reviews__title {
    text-align: center;
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 119.231% */
    letter-spacing: 0.2px;
}
.reviews__cards {
    max-width: 880px;
    margin: 0 auto;
    background-color: #801b1b;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.reviews__card {
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: var(--dark-background, #181818);
}
.reviews__personal {
    display: flex;
    align-items: center;
    justify-content:start;
    gap: 10px;
}
.reviews__personal--img {
    border-radius: 50px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.reviews__personal--data {
    
}
.reviews__personal--name {
    margin: 0;
}
.reviews__personal--job {
    margin: 0;
}
.reviews__card--review {
    margin-top: 30px;
}

.footer {
    height: 443px;
    background-color: #a73838;
}
.footer__container {
    width: 930px;
    height: 243px;
    margin: 0 auto;
    background-color: #801b1b;
    color: #FFF;
    display: block;
}
.footer__columns{
    padding-top: 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.footer__column {
    width: 121px;
    height: 153px;
    border: 1px solid white;
}
.footer__column--four{
    padding-left: 30px;
    width: 250px;
}
.footer__column--place{
    display: flex;
}
.footer__column--phone{
    display: flex;
}
.social-item{
    padding: 20px 0px;
    margin-right: 20px;
}
.footer__title {
    margin: 0;
    padding-bottom: 20px;
}
.footer__img {
   margin-right: 10px;
}
.footer__list--social{
    display: flex;

}
.list-reset {
}
.footer__item {
    padding-bottom: 15px;
}
.footer__link {
    
}
.footer-column {
}
.footer-text {
}
.footer-mail {
}
.social {
}
.social-item {
}
.social-link {
}
.social-link-1 {
}
.social-link-2 {
}
.social-link-3 {
}