html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.list-reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-reser{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}.header {
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.header {
}
.container {
}
.header__container {
}
.logo {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.header__btn {
}
.btn {
}
.btn__link {
}