html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.list-reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-reser{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    max-width: 1097px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header {
    height: 119px;
    color: #fff;
    background-color: #000;
    padding-top: 33px;
}
.logo {
}
img.logo-text{
    margin: 0px 0px 7px 0px;
}
.menu {
   
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 31px;
}
.menu__item {
   
}
.menu__item:not(:last-child) {
   /* margin-right: 50px;*/
}
.menu__link {
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.2px;
    padding: 10px;
}
.header__btn {
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 147.059% */
    letter-spacing: 0.2px;
    padding: 13px 46px;
    border: 1px solid white;
}
.work-speed {
}
.work-speed__title {
}
.work-speed__desc {
}
.work-speed__twobtn {
}
.work-speed__twobtn--one {
}
.work-speed__twobtn--two {
}
.screens {
}
.screens__one {
}
.screens__two {
}
.screens__three {
}
